@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  scrollbar-color: black;
  scrollbar-width: thin;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
